<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title from html</title>
</head>
<body>
<h3>Login</h3>
    <form method="post"  th:action="@{/login}" >
        <label>
            <input type="text" name="username" required placeholder="Username">
        </label>
        <label>
            <input type="password" name="password" required placeholder="Password">
        </label>

        <button type="submit">Login</button>
    </form>

    <div th:if="${param.error}">
        <div class="alert alert-danger text-center">Invalid Username or Password.</div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-success text-center">You have been logged out.</div>
    </div>

</body>
</html>